/* Hero Section */
.hero-section {
    background-image: url('./assets/back.jpeg');
    background-size: cover;
    background-position: center;
    color: #fff;
  }
  .hero-content h1 {
    font-size: 80px; 
  }
  
  .hero-content h1 .la {
    color: #5841ab; 
  }
  
  .hero-content h1 .mountains {
    color: rgb(31, 31, 51); 
  }
  
  
  /* History Section */
  .history-section {
    background-image: url('./assets/man.jpeg');
    background-size: cover;
    background-position: center;
    color: #0a0a0a;
    text-align: center;
    font-size: 30px;
  }
  
  /* Teams Section */
  .teams-section {
    background-image: url('assets/Dhaulagiri\,\ the\ world\'s\ seventh\ highest\ mountain\,\ at\ sunrise_\ [5184\ ×\ 2920]\ [OC].jpeg');
    background-size: cover;
    background-position: center;
    color: #0a0a0a;
    text-align: center;
    font-size: 30px;

  }
  
 
.navbar {
    
    padding: 0px;
    text-align: right;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 90;
    font-size: 20px;
  }
  
  
  
  .navbar ul {
    list-style-type: none;
    display: inline-block;
  }
  
  .navbar ul li {
    display: inline-block;
    margin-left: 10px;
  }
  
  .navbar ul li a {
    text-decoration: none;
    color: #fff;
  }
  
  /* Content styling */
  .section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
  }
  
  .section h2 {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
  }
  
  .section p {
    font-size: 30px;
    line-height: 1.5;
  }
  
  footer {
    background-color: #3b4f98;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fffefe;
  }
  
  .footer-left p {
    margin: 0;
    font-weight: bold;
  }
  
  .footer-right p {
    margin: 0;
    text-align: right;
    font-size: 12px;
  }
  